.product_details{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 40% 48%;
    grid-gap: 2%;
}
.product_details .product_details_img{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #06b8ff;
}
.product_details .product_details_img img{
    display: block;
    margin: auto;
    width: 90%;
}
.product_details .product_details_content{
    margin-left: 30px;
}
.product_details .product_details_content h1{
    color: #444;
    margin-bottom: 20px;
}
.product_details .product_details_content h3{
    color: #06b8ff;
    margin-bottom: 20px;
    font-size: 20px;
}
.product_details .product_details_content h3 span{
    color: #444;
    margin-right: 10px;
}
.product_details .product_details_content .product_details_review_icon{
    margin-bottom: 10px;
}
.product_details .product_details_content .product_details_review_icon i{
    color: orange;
}
.product_details .product_details_content .product_details_review_icon span{
    margin-left: 10px;
    font-weight: bold;
}
.product_details .product_details_content button{
    padding: 12px 30px;
    background-color: #06b8ff;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
